<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editInfo</title>
    <link rel="stylesheet" href="/cssbt/bootstrap.css">
    <link rel="stylesheet" href="/css/edit.css" />
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="padding-left: 2rem; font-size: larger;">
        <div class="logo">
            <img src="/images/Screenshot (870).png" alt="">
        </div>
        <div class="company">serviceDO.com</div>
        <div class="welcome">
            <%userdata.forEach(data => {%>
                <p class="welcome">Welcome <%= data.fname %></p>
            <%})%>
        </div>
          <div class="nav-content">
            <a class="nav-link" href="/home">Home</a>
            <a class="nav-link" href="#">Jobs near me</a>
            <a class="nav-link" href="#">Chat</a>
            <a class="nav-link active" href="#">Edit Profile</a>
            <a class="nav-link" href="#">Contact us</a>
          </div>
      </nav>
      <!-- edit-form -->
      <div class="container">
      <form class="bg-light" action="/edit" method="post" enctype="multipart/form-data">
        <input type="text" name="id" value="<%userdata.forEach(data =>{%><%= data._id %><%})%>">
        <div class="form-group">
          <label for="exampleInputEmail1">Name:</label>
          <input type="text" name="fname" class="form-control" id="exampleInputEmail1"  placeholder="Enter Name" value= "<%userdata.forEach(data => {%><%= data.fname %><%})%>">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Email:</label>
          <input type="email" name="email" class="form-control"  aria-describedby="emailHelp" placeholder="Enter Your Email" value= "<%userdata.forEach(data => {%>
            <%= data.email %><%})%> ">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password:</label>
            <input type="password" name="password" class="form-control"  id="exampleInputPassword1" placeholder="Enter Your Password" value="<%userdata.forEach(data =>{%><%= data.password %><%})%>" >
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Phone: </label>
            <input type="number" name="phone" class="form-control" id="exampleInputPassword1" placeholder="Enter your contact number" value= "<%userdata.forEach(data => {%><%= data.phone %><%})%>" >
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Address:</label>
            <input type="text" name="address" class="form-control" placeholder="Enter Your Address" value="<%userdata.forEach(data => {%><%= data.address %><%})%>" >
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Resume:</label>
            <input type="file" name="resume" class="form-control" placeholder="Add new resume" value= "<%userdata.forEach(data => {%><%= data.resume %><%})%> ">
          </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>
</body>
</html>