<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/cssbt/bootstrap.css">
    <link rel="stylesheet" href="/css/profile.css" />
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="padding-left: 2rem; font-size: larger;">
        <div class="logo">
            <img src="/images/Screenshot (870).png" alt="">
        </div>
        <div class="company">serviceDO.com</div>
        <div class="welcome">
            <%userdata.forEach(data => {%>
                <p class="welcome">Welcome <%= data.fname %></p>
            <%})%>
        </div>
          <div class="nav-content">
            <a class="nav-link" href="/home">Home</a>
            <a class="nav-link" href="#">Jobs near me</a>
            <a class="nav-link" href="#">Chat</a>
            <a class="nav-link active" href="#">Edit Profile</a>
            <a class="nav-link" href="#">Contact us</a>
          </div>
      </nav>
      <div class="heading">
        <h1 class="display-5">Your current information</h1>
      </div>
      <table class="table table-hover table-dark">
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td colspan="2">Name : </td>
            <td>
                <div class="welcome">
                <%userdata.forEach(data => {%>
                    <p> <%= data.fname %></p>
                <%})%>
            </div>
        </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td colspan="2">Email_id: </td>
            <td>
                 <div class="welcome">
                <%userdata.forEach(data => {%>
                    <p> <%= data.email %></p>
                <%})%>
            </div>
        </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Phone: </td>
            <td>
                <div class="welcome">
                    <%userdata.forEach(data => {%>
                        <p> <%= data.phone %></p>
                    <%})%>
                </div>
            </td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td colspan="2">Address : </td>
            <td>
                <div class="welcome">
                    <%userdata.forEach(data => {%>
                        <p> <%= data.address %></p>
                    <%})%>
                </div>
            </td>
          </tr>
          <tr>
          <th scope="row">5</th>
            <td colspan="2">Password : </td>
            <td>
                <div class="welcome">
                    <%userdata.forEach(data => {%>
                        <p> <%= data.password %></p>
                    <%})%>
                </div>
            </td>
          </tr>
          <tr>
            <th scope="row">6</th>
              <td colspan="2">Resume : </td>
              <td>
                  <div class="welcome">
                      <%userdata.forEach(data => {%>
                          <p class="resume-link"><a href="file:///C:/Users/DELL/Desktop/serviceDO/serviceDO.com/starter/public/uploads/<%= data.resume %>"> See your uploaded resume</a></p>
                      <%})%>
                  </div>
              </td>
            </tr>
        </tbody>
      </table>
      <div class="edit">
        <button type="submit" class="btn btn-warning"><a href="/edit">Edit information</a></button>
      </div>
    <script src="/jsbt/bootstrap.bundle.js"></script>
    <script src="/js/profile.js"></script>
</body>
</html>